Repository SSDC-onE-FiVE/ONE-vscode, pull requests merged in 2023-09, with the labels that each got.

#1 [EdgeTPU] Add EdgeTPU Input Path to CfgEditor
  media/CfgEditor/cfgeditor.html
  media/CfgEditor/displaycfg.js
  media/CfgEditor/index.js
  media/CfgEditor/updateContent.js
  src/CfgEditor/CfgData.ts
Labels: Cfg

#5 [EdgeTPU] Add EdgeTPUDebianToolchain
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
Labels: Toolchain

#4 [EdgeTPU] Add EdgeTPUToolchain
  src/Backend/API.ts
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
Labels: Toolchain

#6 [EdgeTPU] Add EdgeTPU Advanced Option 'Min Runtime Version' to cfgEditor
  media/CfgEditor/cfgeditor.html
  media/CfgEditor/displaycfg.js
  media/CfgEditor/index.js
  media/CfgEditor/updateContent.js
  media/CfgEditor/updateUI.js
Labels: Cfg

#7 [EdgeTPU] Add EdgeTPU Advanced Option 'Search Delegate' to cfgEditor
  media/CfgEditor/cfgeditor.html
  media/CfgEditor/displaycfg.js
  media/CfgEditor/index.js
  media/CfgEditor/updateContent.js
Labels: Cfg

#16 [EdgeTPU] Add shell script for the prerequisites
  script/prerequisitesForGetToolchains.sh
Labels: Toolchain

#19 [EdgeTPU] Add EdgeTPUCompiler
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Backend/Version.ts
Labels: Toolchain

#20 [EdgeTPU] Add Advanced Option 'Delegate Search Step' to cfgEditor
  media/CfgEditor/cfgeditor.html
  media/CfgEditor/displaycfg.js
  media/CfgEditor/index.js
  media/CfgEditor/updateContent.js
  media/CfgEditor/updateUI.js
Labels: Cfg

#22 [EdgeTPU] Refactor prerequisitesForGetToolchains.sh
  script/prerequisitesForGetEdgeTPUToolchain.sh
  script/prerequisitesForGetOneToolchain.sh
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Backend/One/OneToolchain.ts
Labels: Toolchain

#23 [EdgeTPU] Style EdgeTPUToolchain
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: Toolchain

#25 [EdgeTPU] HotFix Remove Advanced Option 'Help'
  media/CfgEditor/cfgeditor.html
  media/CfgEditor/displaycfg.js
  media/CfgEditor/index.js
  media/CfgEditor/updateContent.js
Labels: Cfg

#29 [EdgeTPU] Fix the process setting '--out_dir' option value from the cfg file
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: bug

#31 [EdgeTPU] Fix the process setting '--out_dir' option value from the c…
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: bug

#32 [EdgeTPU] Remove --help option
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: bug

#33 [EdgeTPU] Add patch and option to EdgeTPUCompiler version
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
Labels: Toolchain

#34 [EdgeTPU] Add EdgeTPUCompiler parseVersion testcode
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
  src/Tests/Backend/One/OneToolchain.test.ts
Labels: Toolchain

#30 [EdgeTPU] HotFix Intermediate_tensors placeholder typo
  media/CfgEditor/cfgeditor.html
Labels: bug

#28 [EdgeTPU] HotFix Duplicate Error Resolve
  media/CfgEditor/cfgeditor.html
  media/CfgEditor/index.js
Labels: bug

#27 [EdgeTPU] HotFix Remove the word, Optional, in each Advanced Options
  media/CfgEditor/cfgeditor.html
Labels: bug

#36 [EdgeTPU] Remove the onecc codes in EdgeTPU's cfgeditor.html file
  media/EdgetpuCfgEditor/cfgeditor.html
Labels: Cfg

#37 [EdgeTPU] Remove the onecc codes in EdgeTPU's displaycfg.js file
  media/EdgetpuCfgEditor/displaycfg.js
Labels: Cfg

#38 [EdgeTPU] Fix copyright comment
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: Toolchain

#39 [EdgeTPU] Remove the sample EdgeTPUProfile codes
  media/EdgetpuCfgEditor/cfgeditor.html
Labels: Cfg

#40 [EdgeTPU] Remove the onecc codes in index.js file
  media/EdgetpuCfgEditor/index.js
Labels: Cfg

#41 [EdgeTPU] Remove unnecessary function in /media/EdgetpuCfgEditor/updateContent.js
  media/EdgetpuCfgEditor/updateContent.js
Labels: Cfg

#42 [EdgeTPU] Remove unnecessary function in updateUI.js
  media/EdgetpuCfgEditor/updateUI.js
Labels: Cfg

#44 [EdgeTPU] Modularize CfgData for EdgeTPU
  src/CfgEditor/CfgData.ts
  src/CfgEditor/EdgeTpuCfgData.ts
  src/CfgEditor/ICfgData.ts
Labels: Cfg

#45 [EdgeTPU] Convert to Origin Files in media/CfgEditor directory
  media/CfgEditor/cfgeditor.css
  media/CfgEditor/cfgeditor.html
  media/CfgEditor/displaycfg.js
  media/CfgEditor/index.js
  media/CfgEditor/updateContent.js
  media/CfgEditor/updateUI.js
Labels: Cfg

#46 [EdgeTPU] Remove the Option - Min Runtime Version
  media/EdgetpuCfgEditor/cfgeditor.html
  media/EdgetpuCfgEditor/displaycfg.js
  media/EdgetpuCfgEditor/index.js
  media/EdgetpuCfgEditor/updateContent.js
  media/EdgetpuCfgEditor/updateUI.js
Labels: Cfg

#47 [EdgeTPU] Bug Fix Search Delegate option display
  media/EdgetpuCfgEditor/one-optimizations.json
  media/EdgetpuCfgEditor/updateUI.js
Labels: Cfg

#48 [EdgeTpu] ConfigSetting
  src/OneExplorer/ConfigObject.ts
  src/OneExplorer/ConfigSetting.ts
  src/OneExplorer/ConfigSettings/EdgeTpuConfigSetting.ts
  src/OneExplorer/ConfigSettings/OneConfigSetting.ts
Labels: Explorer

#49 [EdgeTPU] Resolve duplication of 'setDefaultValues'
  media/EdgetpuCfgEditor/index.js
  package.json
  src/CfgEditor/EdgetpuCfgEditorPanel.ts
Labels: Cfg

#50 [EdgeTPU] Bug Fix 'Input path' Dialog and 'Delegate Search Step' Display
  media/EdgetpuCfgEditor/index.js
Labels: Cfg

#51 [EdgeTPU] Remove the unnecessary values in sections array
  src/CfgEditor/CfgData.ts
Labels: Cfg

#54 [EdgeTpu] Fix ConfigSetting
  src/OneExplorer/ConfigObject.ts
  src/OneExplorer/ConfigSetting.ts
  src/OneExplorer/ConfigSettings/EdgeTpuConfigSetting.ts
Labels: Explorer

#56 [EdgeTpu] Remove backend detection from ConfigObject constructor
  src/OneExplorer/ConfigObject.ts
Labels: Explorer

#61 [EdgeTpu] Add Test code for ConfigSetting
  src/OneExplorer/ConfigSetting.ts
  src/Tests/OneExplorer/ConfigObject.test.ts
  src/Tests/OneExplorer/ConfigSetting.test.ts
  src/Tests/OneExplorer/ConfigSettings/EdgeTpuConfigSetting.test.ts
  src/Tests/OneExplorer/ConfigSettings/OneConfigSetting.test.ts
Labels: Explorer

#60 Feat/cfg edgetpucfg test by sohee
  src/Tests/CfgEditor/EdgeTpuCfgData.test.ts
Labels: Cfg

#62 [EdgeTpu] Add Test code for edgetpucfg
  src/Tests/OneExplorer/OneExplorer.test.ts
  src/Tests/OneExplorer/OneStorage.test.ts
Labels: Explorer

#57 Feat/cfg edgetpucfg test by hyeonuk
  src/Tests/CfgEditor/EdgeTpuCfgData.test.ts
Labels: Cfg

#64 [EdgeTPU] Update the ToolchainProvider.test.ts file
  src/Tests/Toolchain/ToolchainProvider.test.ts
Labels: Toolchain

#65 [EdgeTPU] Fix section name being read in the run() method
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: Toolchain

#66 [EdgeTPU] Add the logging codes
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
Labels: Toolchain

#67 [EdgeTPU] Update the Backend test code
  src/Tests/Backend/Backend.test.ts
Labels: Toolchain

#68 [EdgeTPU] Update the error messages
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
Labels: Toolchain

#69 [EdgeTPU] Update the Install Quick Input test code
  src/Tests/View/InstallQuickInput.test.ts
Labels: Toolchain

#70 [EdgeTPU] Add teardown in ToolchainProvider test code
  src/Tests/Toolchain/ToolchainProvider.test.ts
Labels: Toolchain

#71 [EdgeTPU] Fix EdgeTPU Compiler Version to use undefined patch
  src/Backend/EdgeTPU/EdgeTPUToolchain.ts
  src/Backend/Version.ts
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: Toolchain

#72 [EdgeTPU] Add edgetpu backend register code
  src/extension.ts
Labels: Toolchain

#74 [EdgeTPU] Update Toolchain test code to move teardown downwards
  src/Tests/Backend/Backend.test.ts
  src/Tests/Toolchain/ToolchainProvider.test.ts
  src/Tests/View/InstallQuickInput.test.ts
Labels: Toolchain

#75 [EdgeTPU] Add EdgeTPUCompiler test code
  src/Tests/Backend/EdgeTPU/EdgeTPUToolchain.test.ts
Labels: Toolchain
